.p-0
	.email-update-modal.col-12.col-md-8.col-lg-9.p-0.force-fade-out
		.email-update-content.col-10.col-md-6.pt-3.pb-3.pl-0.pr-0
			button.close-email-modal.primary-btn.pt-0.pb-0.pl-1.pr-1
				i.lni.lni-close
			.email-update-box.text-justify
				p.p-3 Are you sure you want to change your current OHE account
					span.change-type
				.email-update-opt.text-center
					button.primary-btn.pl-3.pr-3.pt-0.pb-0.mr-2.proceed-email-update
						|yes
					button.primary-btn.pl-3.pr-3.pt-0.pb-0.ml-2.cancel-email-update
						|no
	.setting-header.pl-3.pt-3.pr-3.container-fluid.pb-0
		.row
			.col-4.text-left.prev-btn
				//.d-md-none
					button.-go-home
						i.lni.lni-chevron-left
						| Home
			.col-4.text-center.page-title
				p.p-3 Settings
			.col-4.text-right

			.col-12.text-left.sub-page-title.pb-0.pt-0.pl-4
				p.mb-3.mt-0 Profile settings
	.setting-body.pl-0.pr-0.pt-0.pb-4
		.dp.d-flex.justify-content-center.p-4
			.user-avatar.-large.-initial.p-0 #{initials}
		.container-fluid.p-4
			//button.edit-profile-btn Edit Profile
				i.lni.lni-pencil-alt.pl-2
		.form-group.pl-4.pr-4.pt-0
			form.profile-form
				.container-fluid.p-0
					.row
						.col-12.col-md-6
							.profile-input-contn.p-0
								label(for="firstname").m-0 Firstname
								.profile-input
									input#firstname(type="text" value=firstname disabled)
						.col-12.col-md-6.mt-3.mt-md-0
							.profile-input-contn.p-0
								label(for="firstname").m-0 Lastname
								.profile-input
									input#firstname(type="text" value=lastname disabled)
						.col-12.col-md-6.mt-3
							.profile-input-contn.p-0
								label(for="email").m-0 Email Address
									//button(title="change your email address" type="button").change-email.text-right
										|Change email
										i.lni.lni-pencil-alt.pl-2
								.profile-input
									input#email(type="email" value=email disabled required)
						.col-12.col-md-6.mt-3
							.profile-input-contn.p-0
								label(for="phone").m-0 Phone Number (optional)
								.profile-input
									input#phone(type="tel" value=phone pattern="[0-9]+" maxlength="11")
						.col-12.mt-3
							.profile-input-contn.p-0
								label(for="addressI").m-0 Address 1 (optional)
								.profile-input
									input#addressI(type="text" value=addressI)
						.col-12.mt-3
							.profile-input-contn.p-0
								label(for="addressII").m-0 Address 2 (optional)
								.profile-input
									input#addressII(type="text" value=addressII)
				button(type="submit" disabled).nullified.save-btn Save
	.setting-header.pl-3.pt-0.pr-3.container-fluid.pb-0
		.row
			.col-12.text-left.sub-page-title.pb-0.pl-4
				p.mb-3.mt-3 Security
	.setting-body.p-0
		ul.m-0.p-0
			a
				li.container-fluid.change-password
					.row
						.col-2.col-md-1
							i.lni.lni-unlock
						.col-8.col-md-9
							|Change password
						.col-2.text-right
							i.lni.lni-chevron-right
			a
				li.container-fluid.change-email
					.row
						.col-2.col-md-1
							i.lni.lni-envelope
						.col-8.col-md-9
							|Change email
						.col-2.text-right
							i.lni.lni-chevron-right
	//.setting-header.pl-3.pt-0.pr-3.container-fluid.pb-0
		.row
			.col-12.text-left.sub-page-title.pb-0.pl-4
				p.mb-3.mt-3 Other settings
	//.setting-body.p-0
		ul.m-0.p-0
			a
				li.container-fluid
					.row
						.col-1
							i.lni.lni-envelope
						.col-9
							|Communication preferences
						.col-2.text-right
							i.lni.lni-chevron-right